button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
